# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Data
*.csv
data/

# MacOS
.DS_Store

# Logs
*.log

# Docker
*.pid
docker/

# Model files
*.pkl
models/

# Submission
submission.csv
